<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Masterbaker!</h1>
    <p>
      You have successfully signed up to Masterbaker,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To confirm your account click the link: <a href="http://localhost:3000/confirm/<%= @user.confirm_code %>&<%= @user.email %>">here!</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>