-content_for :header do
  :css
    body{background: url(/assets/profile-tile.png) center bottom; background-size:auto}
-content_for :noncontent do
  .profile{:style => "background-image: url('#{@user.cover.url(:normal)}')"}
    #content.container
      .row-fluid
        .span8
          .visible-phone
            .user-small{:style => "margin-right:10px"}
              =image_tag @user.avatar.url(:thumb)
            %h1
              =@user.username
            %blockquote
              %p
                =@user.wittering
          .hidden-phone
            .user-large{:style => "margin-right:20px"}
              %b{:style => "background-image: url('#{@user.avatar.url(:medium)}')"}
            %div{:style=> "display:table-cell; vertical-align:middle; height:160px"}
              %h1
                =@user.username
              %p{:style => "font-size:16px;"}
                =@user.wittering
        .span4
          .well{:style => "padding:8px 0"}
            %ul.nav.nav-list
              %li.nav-header
                %h1 Actions
              %li
                %a{:href => edit_user_path(:id=>current_user.id)}
                  %i.icon-pencil
                  Update your profile
              %li
                %a{:href => "cake"}
                  %i.icon-fire
                  Join a competition
              %li
                %a{:href => "cake"}
                  %i.icon-fire
                  Create your cake
