-content_for :noncontent do
  .profile
    .container
      .row-fluid
        .span6
          .well.smaller.visible-phone{:style => "background-image:url(http://s3.amazonaws.com/masterbaker_pics/users/avatars/000/000/001/thumb/d.jpg?1342118311);"}
            %h1
              =@user.name
          .well.hidden-phone{:style => "background-image:url(http://s3.amazonaws.com/masterbaker_pics/users/avatars/000/000/001/profile/d.jpg?1342118311);"}
            %h1
              =@user.name