-content_for :noncontent do
  .profile
    .container
      .row-fluid
        .span6
          .well.smaller.visible-phone{:style => "background-image:url(#{current_user.avatar.url(:thumb)});"}
            %h1
              =@user.name
          .well.larger.hidden-phone{:style => "background-image:url(#{current_user.avatar.url(:medium)});"}
            %h1
              =@user.name