-content_for :header do
  
-content_for :noncontent do
  .profile
    #content.container
      .row-fluid
        .span8
          %h1.visible-phone
            =@user.name
          .well.visible-phone{:style => "background-image:url(#{current_user.avatar.url(:thumb)});padding-left:120px;height:60px"}
            %p
              =@user.wittering
          .well.hidden-phone{:style => "background-image:url(#{current_user.avatar.url(:medium)});padding-left:180px;height:120px"}
            %h1
              =@user.name
            %p
              =@user.wittering
        .span4
          .well
            %h1 Actions
            %p
              %a{:href => edit_user_path(:id=>current_user.id)}
                %i.icon-pencil
                Update your profile
            %p
              %a{:href => "cake"}
                %i.icon-fire
                Join a competition
            %p
              %a{:href => "cake"}
                %i.icon-fire
                Create your cake