.row-fluid
  .span6
    .hero-unit
      %h1 What?
      %blockquote
        %p<
          %strong Masterbaker
          is all about baking, and settling the score of who's crumb cuts the mustard! 
        %small
          Sir Bakes-a-lot (January 2011)
  .span6
    .well
      %h1 Welcome bakers!
      %p 
        To the 3rd annual 
        %strong Masterbaker
        competition. For those not in the know, the idea is quite simple, you bake, you eat, you vote and then we find out who can call themselves the 2012
        %strong Masterbaker!
      %h1 How does it work?
      %p 
        Once signed up you will then be able to choose what date you want to bake, and be told where you deliver your cake to. All of your co-competitors will do the same, and as each cake is delivered everyone will receive a reminder and a virtual vote card. Then you simply go to said cake, try it, and fill in the virtual vote card here on
        %strong Masterbaker.
        Pretty simple stuff really!
      %h1 Heats
      %p<
        Similar to the previous competition we will run a set of 'heats' that run as mini-competitions between people in the same office or area of the building. A winner from each heat will then be invited to take part in the 
        %strong Masterbaker
        final, which will be judged by a very special guest!
      %h1 Getting involved
      %p<
        Getting involved couldn't be simpler and this year we are giving people the power to the people! The first thing to do is to 
        %a{:href=>"/user/new"} sign up
        as a new user, where you will be asked what 'heat' you want to join. If you haven't been invited to a heat near you don't worry, simply choose 'I am heatless' from the list and we will place you in one. If you are super keen and want to start your own heat, simply choose 'I am heatless' and when you get logged in you will see the 'Start Heat' button.