.row-fluid
  .span6
    .hero-unit
      %h1 I need help!
      %blockquote
        %p<
          %strong Masterbaker
          is all about baking, and settling the question of who is the best! 
        %small
          Sir Bakes-a-lot in 'Baking Weekly' January 2011
  .span6
    .well