.row-fluid
  .span6
    .hero-unit
      %h1 is back baby!
      %p And this time it's personal.
  .span6{:style => "text-align:center; padding-top:50px"}
    %a.btn.btn-large.btn-success{:style => "padding: 18px 28px"} I want to take part!
        