.row-fluid
  .span6
    .hero-unit
      %h1 is back baby!
      %p And this time it's personal.
  .span6{:style => "text-align:center; padding-top:40px"}
    %a.btn.btn-large.btn-success{:style => "padding: 18px 28px; margin-top:10px", :href=>"/user/new"} I want to take part!
    %a.btn.btn-large.btn-danger{:style => "padding: 18px 28px; margin-top:10px", :href=>"/lame"} I cant take part!
        