.row-fluid
  .span12{:style => "text-align:center"}
    .hero-unit
      %h1 Don't be a wuss...
    %a.btn.btn-large.btn-success{:style => "padding: 18px 28px; margin-top:10px", :href=>"/user/new"} Sign up!