%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => root_path}
        %img{:src => "/assets/mb-logo.png"}
      .nav
        %ul.nav
          =render :partial => '/layouts/standardpages'
          -if not signed_in?
            %li
              %a{:href => signin_path, :class => "first_menu_linkers"} Login
      -if signed_in?
        .nav.pull-right
          %ul.nav
            %li.dropdown.pull-right
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                =image_tag current_user.avatar.url(:tiny)
                =current_user.username
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => signout_path} 
                    Log out
                %li
                  %a{:href => edit_user_path(:id=>current_user.id)}
                    Update profile
  
  = yield :noncontent