%div.navbar.navbar-fixed-top

  .navbar-inner
    .container
      %a.brand{:href => root_path}
        %img{:src => "/assets/mb-logo.png"}
      .nav
        %ul.nav
          %li
            %a{:href => '/about' , :class=>"first_menu_linkers"} About 
          %li
            %a{:href => '/help' , :class=>"first_menu_linkers"} Help
          %li
            %a{:href => '/contact' , :class=>"first_menu_linkers"} Contact
          -if not signed_in?
            %li
              %a{:href => '/signin', :class => "first_menu_linkers"} Login
      -if signed_in?
        .nav.pull-right
          %ul.nav
            %li.dropdown.pull-right
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                =current_user.username
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => 'signout'} 
                    Log out