%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => root_path}
        %img{:src => "/assets/mb-logo.png"}
      .nav
        -if not signed_in?
          %ul.nav.visible-phone
            %li.dropdown.pull-right
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                About
                %b.caret
              %ul.dropdown-menu
                =render :partial => '/layouts/standardpages'
                %li
                  %a{:href => signin_path, :class => "first_menu_linkers"} Login
          %ul.nav.hidden-phone
            =render :partial => '/layouts/standardpages'
            %li
              %a{:href => signin_path, :class => "first_menu_linkers"} Login
      -if signed_in?
        .nav.pull-right
          %ul.nav
            %li.dropdown.pull-right
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                About
                %b.caret
              %ul.dropdown-menu
                =render :partial => '/layouts/standardpages'
            %li.dropdown.pull-right
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                =image_tag current_user.avatar.url(:tiny)
                =current_user.username
                %b.caret
              %ul.dropdown-menu  
                %li
                  %a{:href => user_path(:id=>current_user.id)}
                    Profile
                -if current_user.god == true
                  %li
                    %a{:href => competitions_path}
                      Competitions
                %li
                  %a{:href => signout_path} 
                    Log out
  
  = yield :noncontent